.p-tabmenu-nav {
    justify-content: center !important;
}

.p-carousel-items-content {
    overflow: hidden !important;
    display: flex !important;
    justify-content: space-around !important;
    width: 100% !important;
    flex-wrap: nowrap !important;
    flex-direction: row !important;
}

.p-menuitem-text{
    color: black !important;
}

.p-menubar {
    display: flex;
    align-items: center !important;
    flex-direction: column-reverse !important;
    margin-left: 55px !important;
}