.p-tabmenu-nav {
    justify-content: center !important;
}

.p-carousel-items-content {
    overflow: hidden !important;
    display: flex !important;
    justify-content: space-around !important;
    width: 100% !important;
    flex-wrap: nowrap !important;
    flex-direction: row !important;
}